{% extends "dogapp/base.html" %}

{% block content %}
<h1>
	{{ dog.name }}
	{% if user.is_staff %}
		(<a href="{% url 'dogapp:dog_edit' dog.refuge.id dog.id %}">edit</a>)
        (<a href="{% url 'dogapp:dog_delete' dog.refuge.id dog.id %}">delete</a>)
	{% endif %}
</h1>

<h2>Race:</h2>
<p>
	{{ dog.race }}<br/>
</p>
<h2>Decription:</h2>
<p>
	{{ dog.description }}<br/>
</p>
    {% if user %}
		(<a href="{% url 'dogapp:dog_adopt' dog.id %}">adopt</a>)
	{% endif %}
{% endblock %}

{% block footer %}
Created by {{ dog.user }}
{% endblock %}